<a class="nav-link float" href="/cart">
    <i class="fa fa-shopping-bag"></i>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
        {{count}}
        <span class="visually-hidden">unread messages</span>
    </span>
</a>

<div class="container p-4">

    <div class="row">
        <div class="col-lg-12 text-center">

            <button id="btn1" class="btn btn-secondary">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>

            <img src="" id="slide" class="img-fluid rounded">

            <button id="btn2" class="btn btn-secondary">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>

        </div>
    </div>

    <div class="row p-4">

        {{#if products}}
        <div class="col-lg-12 p-4">
            <div class="rounded-pill clearfix"
                style="border: 2px dotted #e1cdb3; text-align:center; center{margin:16px 0;">
                <h2 style="color: #e1cdb3;">PRODUCTOS</h2>
            </div>
        </div>
        {{#each products}}
        <div class="col-lg-3 p-4">
            <div class="card shadow-sm">
                <img class="img-fluid" src="{{PRODUCTO_URL}}" />
                <div class="card-body text-center">
                    <h3 style="color: #e1cdb3;" class="card-title text-uppercase">
                        $ {{PRODUCTO_PRECIO}}
                    </h3>
                    <p>{{PRODUCTO_NOMBRE}}</p>
                    <a href="detail/{{PRODUCTO_ID}}" type="button" class="btn btn-outline-secondary">Detalle</a>
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>

    <div class="row">

        {{#if recommended}}
        <div class="col-lg-12 p-4">
            <div class="rounded-pill clearfix"
                style="border: 2px dotted #e1cdb3; text-align:center; center{margin:16px 0;">
                <h2 style="color: #e1cdb3;">PRODUCTOS RECOMENDADOS</h2>
            </div>
        </div>

        <div class="slidesRecommended">
            {{#each recommended}}
            <div class="col-lg-3 p-4">
                <div class="card shadow-sm">
                    <img class="img-fluid" src="{{PRODUCTO_URL}}" />
                    <div class="card-body text-center">
                        <h3 style="color: #e1cdb3;" class="card-title text-uppercase">
                            $ {{PRODUCTO_PRECIO}}
                        </h3>
                        <p>{{PRODUCTO_NOMBRE}}</p>
                        <a href="detail/{{PRODUCTO_ID}}" type="button" class="btn btn-outline-secondary">Detalle</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

        {{/if}}
    </div>

</div>

<script>
    fetch('/slider')
        .then(res => res.json())
        .then(data => {

            var sliderImages = [
                {
                    id: '',
                    url: ''
                }
            ];

            const slider = '';

            data.slider.forEach(sliders => {
                sliderImages.push({
                    id: sliders.SLIDER_ID,
                    url: sliders.SLIDER_URL,
                });
            });

            //Eliminamos el primer objeto del array
            var eliminado = sliderImages.shift();

            let slide = document.getElementById("slide");
            const btn1 = document.getElementById("btn1");
            const btn2 = document.getElementById("btn2");


            //set width and height of slides
            //slide.style.width = "950px";
            slide.style.height = "450px";

            //set current index
            let i = 0;

            //set slide src to current index
            slide.src = sliderImages[i].url;

            btn2.onclick = () => {
                //when btn2 is clicked
                i++;
                //add 1 to current index
                if (i > sliderImages.length - 1) {
                    //if current index passes last photo in array
                    i = 0;
                    //set index back to zero
                }
                slide.src = sliderImages[i].url;
                //set slide to current index
            };

            btn1.onclick = () => {
                //when btn1 is clicked
                i--;
                //minus 1 from current index
                if (i < 0) {
                    //if current index goes below zero
                    i = sliderImages.length - 1;
                    //set index to the last photo in array
                }
                slide.src = sliderImages[i].url;
                //display current photo to #slide
            };

            btn1.addEventListener("click", () => {
                slide.classList.add("transition");
            });
            //when btn1 is clicked add transition class to slide
            btn1.addEventListener("mouseup", () => {
                slide.classList.remove("transition");
            });
            //when btn1 is clicked remove transition class from slide
            btn2.addEventListener("click", () => {
                slide.classList.add("transition");
            });
            //when btn2 is clicked add transition class to slide
            btn2.addEventListener("mouseup", () => {
                slide.classList.remove("transition");
            });
            //when btn2 is clicked remove transition class from slide

        });
</script>