<div class="container p-4">
    <div class="row">

        <div class="col-md-8 mx-auto">


            <div class="card">
                <div class="card-header">
                    <div class="panel-heading text-center">
                        <h3>
                            <div class="panel-title">MODIFICAR PRODUCTO</div>
                        </h3>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/administrator/editProduct/{{product.PRODUCTO_ID}}" method="POST"
                        enctype="multipart/form-data" class="row g-3 needs-validation">

                        <div class="col-8">
                            <label class="form-label">NOMBRE:</label>
                            <input type="text" value="{{product.PRODUCTO_NOMBRE}}" name="PRODUCTO_NOMBRE"
                                class="form-control" placeholder="NOMBRE" maxlength="60" id="searchName"
                                style="text-transform:uppercase"
                                oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                required autofocus>
                        </div>

                        <div class="col-4">
                            <label class="form-label">CODIGO:</label>
                            <input type="number" value="{{product.PRODUCTO_CODIGO}}" name="PRODUCTO_CODIGO"
                                class="form-control"
                                onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 0 "
                                maxlength="15"
                                oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                required>
                        </div>

                        <div class="col-4">
                            <label class="form-label">PRECIO:</label>
                            <input type="number" value="{{product.PRODUCTO_PRECIO}}" name="PRODUCTO_PRECIO"
                                class="form-control"
                                onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 0 "
                                maxlength="15"
                                oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                required>
                        </div>

                        <div class="col-4">
                            <label class="form-label">STOCK:</label>
                            <input type="number" value="{{product.PRODUCTO_STOCK}}" name="PRODUCTO_STOCK"
                                class="form-control"
                                onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 0 "
                                maxlength="15"
                                oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                required>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">CATEGORIA:</label>
                            <div class="form-label">
                                <select name="CATEGORIA_ID" class="form-select" required>
                                    <option value="{{product.CATEGORIA_ID}}">
                                        {{product.CATEGORIA_NOMBRE}}</option>
                                    {{#each listcategory}}
                                    <option value="{{CATEGORIA_ID}}">{{CATEGORIA_NOMBRE}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

                        {{!-- --}}
                        {{!-- --}}
                        <div class="col-md-4">
                            <label class="form-label">Tipo:</label>
                            <div class="form-label">
                                <select id="tipo" class="form-select" aria-label="Default select example" required>
                                    <option value="0" selected>SELECCIONE</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Talla:</label>
                            <div class="form-label">
                                <select id="talla" name="TALLA_ID" class="form-select"
                                    aria-label="Default select example" required>
                                    <option value="0" selected>SELECCIONE</option>
                                </select>
                            </div>
                        </div>
                        {{!-- --}}
                        {{!-- --}}

                        {{!-- <div class="col-4">
                            <label for="exampleColorInput" class="form-label">Color</label>
                            <input type="color" class="form-control form-control-color" id="exampleColorInput"
                                value="#563d7c" title="Escoge un color" name="COLOR_CODIGO">
                        </div> --}}

                        <div class="col-12">
                            <label class="form-label">MEDIDAS:</label>
                            <textarea name="PRODUCTO_MEDIDAS" rows="4" class="form-control" placeholder="MEDIDAS"
                                style="text-transform:uppercase" required>{{product.PRODUCTO_MEDIDAS}}</textarea>
                        </div>

                        <div class="col-12">
                            <label class="form-label">DESCRIPCIÓN:</label>
                            <textarea name="PRODUCTO_DESCRIPCION" rows="4" class="form-control"
                                placeholder="DESCRIPCIÓN" style="text-transform:uppercase"
                                required>{{product.PRODUCTO_DESCRIPCION}}</textarea>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Imagen Antigua:</label>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Imagen Actual:</label>
                        </div>

                        <div class="col-md-6">
                            <img src="{{product.PRODUCTO_URL}}" class="img-thumbnail" width="300px">
                        </div>

                        <div class="col-md-6">
                            <input type="file" accept="image/*" name="SUBIR_IMAGEN" class="form-control"
                                onchange="loadFile(event)">
                            <font size=2 class="text-danger">Solo subir imagenes</font>
                            <p></p>
                            <img id="output" class="img-thumbnail" width="300px" />
                        </div>

                        <div class="col-12 text-center">
                            <button class="btn btn-success">
                                Guardar
                            </button>
                            <a href="/administrator" class="btn btn-danger">Cancelar</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        {{!-- --}}
        {{!-- --}}
        {{#if gallery}}
        <div class="mb-3">
            <br>
        </div>
        <div class="mb-3">
            <div class="rounded-pill clearfix"
                style="border: 2px dotted #e1cdb3; text-align:center; center{margin:16px 0;">
                <h2 style="color: #e1cdb3;">Galeria</h2>
            </div>
        </div>
        {{#each gallery}}
        <div class="col-md-3 text-center">
            <div class="card mb-4 shadow-sm">
                <img src="{{GALERIA_URL}}" class="card-img-top" width="100px" height="250px">
                <div class="card-body">
                    {{!-- <a href="detail/{{PRODUCTO_ID}}" type="button" class="btn btn-outline-secondary">Detalle</a>
                    --}}
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#myEditImage{{@index}}">
                        Actualizar
                    </button>
                    <a href="/administrator/deleteImage/{{GALERIA_ID}}" class="btn btn-outline-danger">Eliminar</a>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myEditImage{{@index}}" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">

                        <form action="/administrator/editImage/{{GALERIA_ID}}" method="POST"
                            enctype="multipart/form-data">
                            <input type="hidden" name="PRODUCTO_ID" value={{GALERIA_ID}}>

                            <div class="mb-3">
                                <input type="file" accept="image/*" name="SUBIR_IMAGEN" class="form-control"
                                    onchange="loadFile(event)">
                            </div>

                            <div class="col-12 text-center">
                                <button class="btn btn-success">
                                    Guardar
                                </button>
                                <a href="/administrator" class="btn btn-danger">Cancelar</a>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </div>

        {{/each}}
        {{/if}}
        {{!-- --}}
        {{!-- --}}

    </div>
</div>

<script>
    var loadFile = function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('output');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>

<script>
    fetch('/sizes')
        .then(res => res.json())
        .then(data => {

            let tipos = [];

            var tallas = [
                {
                    id: '',
                    tipo: '',
                    talla: ''
                }
            ];

            const sizes = '';

            data.sizes.forEach(size => {
                tipos.push(size.TALLA_TIPO);
                tallas.push({
                    id: size.TALLA_ID,
                    tipo: size.TALLA_TIPO,
                    talla: size.TALLA_NOMBRE
                });
            });

            let unicosTipos = Array.from(new Set(tipos));

            var areasSelect = document.getElementById('tipo');
            var categoriasSelect = document.getElementById('talla');

            areasSelect.addEventListener("change", cargarCategorias);

            unicosTipos.forEach(function (unicosTipo) {
                let opcion = document.createElement('option')
                opcion.value = unicosTipo
                opcion.text = unicosTipo
                areasSelect.add(opcion)
            })

            function cargarCategorias() {
                categoriasSelect.options.length = 1;
                tallas
                    .filter(function (talla) {
                        return talla.tipo == this;
                    }, areasSelect.value)
                    .forEach(function (talla) {
                        let opcion = document.createElement('option')
                        opcion.value = talla.id
                        opcion.text = talla.talla
                        categoriasSelect.add(opcion);
                    });
            }

        });

</script>