<div class="container color_bg02" style="padding-top: 70px;">
    <div class="row">
        <div class="col-lg-2 col-md-12 col-12">
            {{!-- <div class="panel panel-default">
                <div class="d-grid gap-3 mb-1">
                    <a href="/administrator/addProduct" class="btn btn-outline-secondary">
                        Agregar
                    </a>
                </div>
                <div class="d-grid gap-3 mb-1">
                    <a href="/administrator/category" class="btn btn-outline-secondary">
                        Categoria
                    </a>
                </div>
                <div class="d-grid gap-3 mb-1">
                    <a href="/administrator/size" class="btn btn-outline-secondary">
                        Talla
                    </a>
                </div>
                <div class="d-grid gap-3 mb-1">
                    <a href="/administrator/slider" class="btn btn-outline-secondary">
                        Slider
                    </a>
                </div>
            </div> --}}
            <div>
                <div class="colunm_dasboard">
                <p>
                    <a class="select-btn" 
                    data-toggle="collapse" 
                    href="#multiCollapseExample1" 
                    role="button" 
                    aria-expanded="false" 
                    aria-controls="multiCollapseExample1">
                    <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboards 
                    <i class="fa fa-arrow-circle-down float-rigth" aria-hidden="true"></i>
                    </a>
                </p>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse item_admin" id="multiCollapseExample1">
                            <a href="/" class="">
                                Inicio <i class="fa fa-arrows-h float-rigth" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                </div>
                <div class="colunm_autentication">
                    <p>
                        <a class="select-btn" 
                        data-toggle="collapse" 
                        href="#multiCollapseExample2" 
                        role="button" 
                        aria-expanded="false" 
                        aria-controls="multiCollapseExample2">
                        <i class="fa fa-user" aria-hidden="true"></i> Authentication
                        <i class="fa fa-arrow-circle-down float-rigth" aria-hidden="true"></i>
                        </a>
                    </p>
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse item_admin" id="multiCollapseExample2">
                                <a href="/" class="">
                                    Perfil <i class="fa fa-arrows-h float-rigth" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <hr class="navbar-divider">
                <h6 class="navbar-heading">Tienda</h6>
                    <div class="colunm_categoria">
                    <p>
                        <a class="select-btn" 
                        data-toggle="collapse" 
                        href="#multiCollapseExample3" 
                        role="button" 
                        aria-expanded="false" 
                        aria-controls="multiCollapseExample3">
                        <i class="fa fa-tachometer" aria-hidden="true"></i> Productos 
                        <i class="fa fa-arrow-circle-down float-rigth" aria-hidden="true"></i>
                        </a>
                    </p>
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse item_admin" id="multiCollapseExample3">
                                <div>
                                    <a href="/administrator/addProduct" class="">
                                        Crear Productos <i class="fa fa-arrows-h float-rigth" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="colunm_category">
                        <p>
                            <a class="select-btn" 
                            data-toggle="collapse" 
                            href="#multiCollapseExample4" 
                            role="button" 
                            aria-expanded="false" 
                            aria-controls="multiCollapseExample4">
                            <i class="fa fa-user" aria-hidden="true"></i> Categorias
                            <i class="fa fa-arrow-circle-down float-rigth" aria-hidden="true"></i>
                            </a>
                        </p>
                        <div class="row">
                            <div class="col">
                                <div class="collapse multi-collapse item_admin" id="multiCollapseExample4">
                                    <a href="/administrator/category" class="">
                                        Crear Categoria <i class="fa fa-arrows-h float-rigth" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="colunm_tallas">
                        <p>
                            <a class="select-btn" 
                            data-toggle="collapse" 
                            href="#multiCollapseExample5" 
                            role="button" 
                            aria-expanded="false" 
                            aria-controls="multiCollapseExample5">
                            <i class="fa fa-user" aria-hidden="true"></i> Tallas
                            <i class="fa fa-arrow-circle-down float-rigth" aria-hidden="true"></i>
                            </a>
                        </p>
                        <div class="row">
                            <div class="col">
                                <div class="collapse multi-collapse item_admin" id="multiCollapseExample5">
                                    <a href="/administrator/size" class="">
                                        Crear Talla <i class="fa fa-arrows-h float-rigth" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="colunm_slider">
                        <p>
                            <a class="select-btn" 
                            data-toggle="collapse" 
                            href="#multiCollapseExample6" 
                            role="button" 
                            aria-expanded="false" 
                            aria-controls="multiCollapseExample6">
                            <i class="fa fa-user" aria-hidden="true"></i> Slider
                            <i class="fa fa-arrow-circle-down float-rigth" aria-hidden="true"></i>
                            </a>
                        </p>
                        <div class="row">
                            <div class="col">
                                <div class="collapse multi-collapse item_admin" id="multiCollapseExample6">
                                    <a href="/administrator/slider" class="">
                                        Crear Slider <i class="fa fa-arrows-h float-rigth" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <div class="col-lg-10 col-md-12">
            <div class="panel panel-default">

                <div class="row">

                    {{!-- {{#if products}} --}}
                    <div class="col-lg-12">
                        <div class="clearfix"
                            style="border: 2px dotted #e1cdb3; text-align:center; center{margin:16px 0;">
                            <h2 style="color: #e1cdb3;">¡Bienvenido al escritorio de la Tienda!</h2>
                            <p class="about-description">Hemos recopilado algunos enlaces para que puedas comenzar:</p>
                        </div>
                    </div>
                    {{!-- {{#each products}} --}}
                    <div class="col-lg-3 p-4">
                        <div class="card shadow-sm">
                            <a type="button" href="/administrator/deleteProduct/{{PRODUCTO_ID}}"
                                class="btn btn-outline-danger deleteAbso">X</a>
                            <img class="img-fluid" src="{{PRODUCTO_URL}}" />
                            <div class="card-body text-center">
                                <h3 style="color: #e1cdb3;" class="card-title text-uppercase">
                                    $ {{PRODUCTO_PRECIO}}
                                </h3>
                                <p>{{PRODUCTO_NOMBRE}}</p>

                                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                    <a href="/administrator/editProduct/{{PRODUCTO_ID}}"
                                        class="btn btn-outline-primary">Actualizar</a>

                                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#myAddImage{{@index}}">
                                        Agregar
                                    </button>
                                    {{!--<a href="/administrator/deleteProduct/{{PRODUCTO_ID}}"
                                        class="btn btn-outline-danger">Eliminar</a> --}}
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="myAddImage{{@index}}" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-success" id="staticBackdropLabel">
                                        <i class="fal fa-check-circle"> {{PRODUCTO_NOMBRE}}</i>
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>

                                <div class="modal-body">

                                    <form action="/administrator/addImage" method="POST" enctype="multipart/form-data">
                                        <input type="hidden" name="PRODUCTO_ID" value={{PRODUCTO_ID}}>

                                        <div class="mb-3">
                                            <input type="file" accept="image/*" name="SUBIR_IMAGEN" class="form-control"
                                                onchange="loadFile(event)">
                                        </div>

                                        <div class="col-12 text-center">
                                            <button class="btn btn-success">
                                                Guardar
                                            </button>
                                            <a href="/administrator" class="btn btn-danger">Cancelar</a>
                                        </div>

                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>

                    {{!-- {{/each}}
                    {{/if}} --}}
                </div>

            </div>
        </div>
    </div>


        
</div>



